
html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
table,
tr,
th,
td,
label,
input,
form,
span,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
object,
select,
option,
iframe {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}